name: Weather Bot

on:
  schedule:
    - cron: '0 * * * *'  # запуск каждый час
  workflow_dispatch:      # возможность запуска вручную

jobs:
  weather:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install requests

      - name: Run weather script
        run: python weather.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHANNEL: ${{ secrets.CHANNEL }}
